body {
    margin: 0;
    color: #4e4e55;
    background: #e9eaed;
}

* {
    font-family: sans-serif;
}

.header {
    color: aliceblue;
    width: 100%;
    background: #4167b2;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between !important;

    input {
        width: 400px;
        margin: 10px;
    }

    .header-wrapper {
        display: flex;
        justify-items: center;
        img {
            height: 35px;
        }
    }
    p {
        margin: 0 20px;
        margin-top: 10px;
    }
    .icon-wrapper {
        display: flex;
        justify-content: center;
    }
}

.logo {
    height: 35px;
    margin: 7px 15px;
}

.profile__cover {
    height: 380px;
    width: 1100px;
    margin: 0 auto;
    z-index: -1;
    display: flex;
    align-items: flex-end;
    color: honeydew;
    background-size: 100%;
    background-position: center;
    p {
        font-size: 32px;
        margin-left: 200px;
        font-weight: 600;
        width: 500px;
        padding-top: 15px;
    }
}

.profile__picture {
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 9000;
    width: 160px;
    height: 160px;
    background: honeydew;
    padding: 5px;
    object-fit: cover;
}

.relative {
    position: relative;
    z-index: 1;
    width: 400px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 200px;
}

.profile__wrapper {
    width: 100%;
}

.profile__cover-wrapper {
    width: 100%;
    // padding: 0 100px;
}

.information {
    height: 100px;
    background: white;
    width: 1100px;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 20px;

    .information-wrapper {
        margin: 0;
        margin-left: 235px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        ul {
            margin: 0;
            padding-left: 0;
            font-size: 11px;
            color: gray;
            list-style: none;
            li {
                margin-bottom: 6px;

                img {
                    width: 10px;
                    margin-right: 4px;
                }
            }
        }
    }
}

.profile-information {
    width: 300px;
}

.edit-information {
    margin-right: 20px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: white;
    border: solid 1px white;
    border-radius: 100px;
    position: absolute;
    z-index: 9999999;
    top: -263px;
    right: -640px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:hover {
        background-color: rgb(226, 226, 226);
        border: solid 1px rgb(226, 226, 226);
    }

    img {
        width: 20px;
        margin-top: 5px;
        margin-left: 7px;
    }
}

.circle-2 {
    width: 30px;
    height: 30px;
    background-color: white;
    border: solid 1px white;
    border-radius: 100px;
    position: absolute;
    z-index: 9999999;
    top: 32px;
    left: 144px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:hover {
        background-color: rgb(226, 226, 226);
        border: solid 1px rgb(226, 226, 226);
    }

    img {
        width: 20px;
        margin-top: 5px;
        margin-left: 7px;
    }
}

.change-profile-picture {
    input {
        // border: solid 2px red;
    }
}


.edit-information {
    z-index: 9999999999999999999;
    position: fixed;
    border: #4e4e55 1px solid;
    width: 500px;
    height: 500px;
    background-color: #F2F2F1;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F1;
    margin: 0 auto;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0;

    
    

    &-header {
        background-color: white;
        padding: 0 20px;
        border-bottom: 1px solid;
        display: flex;
        justify-content: space-between;
        align-content: center;

    }


    &-input {
        border-bottom: #afafaf solid 1px;
        width: 92%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 20px 0;
        input {
            width: 100%;
            height: 20px;
            // margin: 14px 0 0 0;
        }

        label {
            margin-top: 6px;
            width: 100px;
            font-size: 11px;
            text-align: right;
            margin-left: 5px;
            margin-right: 6px;
            font-weight: 600;
        }
    }

    &-body {
        width: 100%;
        padding: 0 0px 0 20px;
        margin-top: 20px;
        
    }

    &-button {
        display: flex;
        // justify-content: right;
        margin-top: 38px;
        margin-left: 313px;
    }


}

h2 {
    font-size: 20px;
    color: #37393d;
}


.-primary {
    background: #4167b2;
    color: white;
    padding: 5px 12px;
    border: #2753aa;
    font-weight: 600;
    font-size: 12px;
    margin: 4px 5px;
    cursor: pointer;

    &:disabled {
        background: #c9c9c9;
        color: rgb(228, 228, 228);
        cursor: progress;


    }
}

.-secondary {
    background: #f3f3f3;
    color: rgb(39, 39, 39);
    padding: 5px 12px;
    border: #363636 solid 1px;
    font-weight: 600;
    font-size: 12px;
    margin: 4px 5px;
    cursor: pointer;
}
.close-icon:after{
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
    margin-top: 17px;
    cursor: pointer;

  }